<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dataquality.analysis="http://dataquality.analysis" xmlns:dataquality.rules="http://dataquality.rules" xmlns:orgomg.cwm.objectmodel.core="http:///orgomg/cwm/objectmodel/core.ecore">
  <dataquality.rules:WhereRule xmi:id="_blPeYPdhEeqx3smsKGeZnA" name="StudentCitizenCode" supplierDependency="_20wjsPdhEeqx3smsKGeZnA" criticalityLevel="1" whereExpression="citizen_code  in (select distinct code from sisdba.v_citizen_code)">
    <taggedValue xmi:id="_blPeYfdhEeqx3smsKGeZnA" tag="Status" value="development"/>
    <taggedValue xmi:id="_blPeYvdhEeqx3smsKGeZnA" tag="Author" value="talend@talend.com"/>
    <taggedValue xmi:id="_blPeY_dhEeqx3smsKGeZnA" tag="Purpose" value="DQ Profiling"/>
    <taggedValue xmi:id="_blPeZPdhEeqx3smsKGeZnA" tag="Description" value="Student citizen code. Used for international students to determine visa wait times from immigraion Canada.&#xD;&#xA;&#xD;&#xA;Rule: values from this field must match the Code field in the v_citizen_code table "/>
    <taggedValue xmi:id="_blPeZfdhEeqx3smsKGeZnA" tag="Version" value="0.1"/>
    <taggedValue xmi:id="_blPeZvdhEeqx3smsKGeZnA" tag="Validation_Status" value="true"/>
    <categories href="../../.Talend.definition#_8i9eQBI5Ed6TWL6NwMMHzQ"/>
    <sqlGenericExpression xmi:id="_blPeZ_dhEeqx3smsKGeZnA" body="SELECT COUNT(*) FROM &lt;%=__TABLE_NAME__%> &lt;%=__JOIN_CLAUSE__%> &lt;%=__WHERE_CLAUSE__%>" language="SQL"/>
  </dataquality.rules:WhereRule>
  <orgomg.cwm.objectmodel.core:Dependency xmi:id="_20wjsPdhEeqx3smsKGeZnA" kind="Usage" supplier="_blPeYPdhEeqx3smsKGeZnA">
    <client xsi:type="dataquality.analysis:Analysis" href="../../../TDQ_Data Profiling/Analyses/Student_and_OCAS_Applicant/BR_StudentCitizenCode_0.1.ana#_0Ky30fdhEeqx3smsKGeZnA"/>
    <client xsi:type="dataquality.analysis:Analysis" href="../../../TDQ_Data Profiling/Analyses/Student_and_OCAS_Applicant/BR_StudentCitizenCodeInternational_0.1.ana#_SxjlwfdiEeqx3smsKGeZnA"/>
  </orgomg.cwm.objectmodel.core:Dependency>
</xmi:XMI>
